.text-input {
  display: block;
  &--container {
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    &-outlined {
      border: 0.5px solid grey;
      &:focus,
      &:hover {
        outline: grey auto 1px;
      }
    }
  }
}
