.signIn-Page {
  flex: 1;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--title {
    font-weight: 700;
    font-size: 28px;
    margin: 24px;
  }
}
